{% extends "base.html" %}
{% load i18n %}

{% block title %}{{_("Overview")}}{% endblock %}
{% block content_title %}{{_("Overview")}}{% endblock %}

{% block content %}

    <select id="selectChoosing" onchange="select_choosing()" class="selectpicker">
        <option value="">---</option>
        {% for choosing in choosing_list %}
        <option {% if cur_choosing.id == choosing.id %}selected=selected{% endif %} value="{{ choosing.id }}">{{ choosing.name }}</option>
        {% endfor %}
    </select>

    {% if cur_choosing %}
    <br/>
    <br/>
    <a href="{{ base_url }}/admin/choosing/choosing/{{ cur_choosing.id }}/">Nastavenia</a>
    <hr/>


    {% if cur_choosing.phase == 1 or cur_choosing.phase == 3 %}
    <h3>Zápisy predmetov</h3>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-12">

        <h3>Kolizní študenti</h3>
        <p>Nasledujúci zoznam obsahuje mená ľudí, ktorým nesedí počet kurzov.</p>

        <p>Tento zoznam je cachovaný, pretože jeho vyhodnotenie je náročné. Pri akýchkoľvek zmenách je nutné cache obnoviť.
            <a href="#" onclick="reload_with_purge()">Obnoviť teraz</a></p>

          <div class="table-responsive">
            <table class="table table-striped" style="border: 1px solid #ddd;">
              <thead>
                <tr>
                <th>{{ _("Student") }}</th>
                <th class="width-10perc">{{ _("Classroom") }}</th>
                <th class="width-10perc">{{ _("Chooses") }}</th>
                </tr>
              </thead>
              <tbody>
                {% for row in overview.incomplete %}
                <tr>
                    <td>{{ row.0.user.username }}</td>
                    <td>{{ row.0.classroom }}</td>
                    <td>{{ row.1 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        <h3>Počty zápisov</h3>

          <div class="table-responsive">
            <table class="table table-striped" style="border: 1px solid #ddd;">
              <thead>
                <tr>
                <th>{{ _("Course") }}</th>
                <th class="width-10perc">{{ _("Chooses") }}</th>
                <th class="width-15perc">{{ _("Action") }}</th>
                </tr>
              </thead>
              <tbody>
                {% for course, course_ow in overview.courses.items %}
                <tr>
                    {% if course_ow.resolution %}
                        {% if course_ow.accepted == 0 %}
                            <td><font style="color: grey; text-decoration: line-through;">{{ course }}</font></td>
                            <td><font style="color: grey; text-decoration: line-through;">{{ course_ow.size }}</font></td>
                        {% else %}
                            <td style="color: green">{{ course }}</td>
                            <td style="color: green">{{ course_ow.size }}</td>
                        {% endif %}
                    {% elif course_ow.size > 11 %}
                        <td style="color: black">{{ course }}</td>
                        <td style="color: black">{{ course_ow.size }}</td>
                    {% else %}
                        <td style="color: darkorange">{{ course }}</td>
                        <td style="color: darkorange">{{ course_ow.size }}</td>
                    {% endif %}
                    <td>
                        {% if course_ow.resolution %}
                            <a onclick="resolve_course_revert({{ course_ow.resolution.id }})" class="btn btn-primary btn-xs">{{ _("Revert") }}</a>
                        {% else %}
                            <a onclick="resolve_course({{ cur_choosing.id }},{{ course.id }},1)" class="btn btn-success btn-xs">{{ _("Accept") }}</a>
                            <a onclick="resolve_course({{ cur_choosing.id }},{{ course.id }},0)" class="btn btn-danger btn-xs">{{ _("Deny") }}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>


          <div class="table-responsive">
            <table class="table table-striped" style="border: 1px solid #ddd;">
              <thead>
                <tr>
                <th>{{ _("Course") }}</th>
                <th>{{ _("Teacher") }}</th>
                <th>{{ _("Chooses") }}</th>
                <th class="width-15perc">{{ _("Action") }}</th>
                </tr>
              </thead>
              <tbody>
                {% for course, course_ow in overview.courses.items %}
                {% if course_ow.resolution and course_ow.accepted == 0 %}
                    <tr>
                        <td><font style="color: grey; text-decoration: line-through">{{ course }}</font></td>
                        <td><font style="color: grey; text-decoration: line-through">-</font></td>
                        <td><font style="color: grey; text-decoration: line-through">{{ course_ow.noteachers|length }}</font></td>
                        <td></td>
                    </tr>
                {% elif course_ow.noteachers|length > 0 %}
                    <tr>
                        <td>{{ course }}</td>
                        <td>-</td>
                        <td>{{ course_ow.noteachers|length }}</td>
                        <td></td>
                    </tr>
                {% endif %}
                {% for teacher, teacher_ow in course_ow.teachers.items %}
                <tr>
                    {% if teacher_ow.resolution %}
                        {% if teacher_ow.accepted == 0 %}
                            <td><font style="color: grey; text-decoration: line-through;">{{ course }}</font></td>
                            <td><font style="color: grey; text-decoration: line-through;">{{ teacher.get_titled_name }}</font></td>
                            <td><font style="color: grey; text-decoration: line-through;">{{ teacher_ow.size }}</font></td>
                        {% else %}
                            <td><font style="color: green;">{{ course }}</font></td>
                            <td><font style="color: green;">{{ teacher.get_titled_name }}</font></td>
                            <td><font style="color: green;">{{ teacher_ow.size }}</font></td>
                        {% endif %}
                    {% else %}
                        {% if teacher_ow.size > 11 %}
                            <td style="color: black;">{{ course }}</td>
                            <td style="color: black;">{{ teacher.get_titled_name }}</td>
                            <td style="color: black;">{{ teacher_ow.size }}</td>
                        {% else %}
                            <td style="color: #c55;">{{ course }}</td>
                            <td style="color: #c55;">{{ teacher.get_titled_name }}</td>
                            <td style="color: #c55;">{{ teacher_ow.size }}</td>
                        {% endif %}
                    {% endif %}
                    <td>
                        {% if course_ow.accepted == 1 %}
                            {% if teacher_ow.accepted == None %}
                            <a onclick="resolve_course_teacher({{ cur_choosing.id }},{{ course.id }},{{ teacher.id }},1)" class="btn btn-success btn-xs">{{ _("Accept") }}</a>
                            <a onclick="resolve_course_teacher({{ cur_choosing.id }},{{ course.id }},{{ teacher.id }},0)" class="btn btn-danger btn-xs">{{ _("Deny") }}</a>
                            {% else %}
                            <a onclick="resolve_course_teacher_revert({{ teacher_ow.resolution.id }})" class="btn btn-primary btn-xs">{{ _("Revert") }}</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% endif %}

    <script>
    function select_choosing() {
        var choosing_id = $("select#selectChoosing").val();
        if ( choosing_id )
            location.href = "{{ base_url }}/root/overview/" + choosing_id;
    }

    function reload_with_purge() {
        var choosing_id = $("select#selectChoosing").val();
        if ( choosing_id )
            location.href = "{{ base_url }}/root/overview/" + choosing_id + "?purge";
    }

    function resolve_course(choosing_id, course_id, resolution)
    {
        $.ajax({
            url: '/api/resolved-course/',
            type: 'POST',
            data: 'choosing='+choosing_id+"&course="+course_id+"&accepted="+resolution,
            success: function() { location.reload(); },
            error: function(jqXHR, textStatus, errorThrown) { console.log(jqXHR); console.log(textStatus); console.log(errorThrown); }
        });
    }

    function resolve_course_revert(resolution_id)
    {
        $.ajax({
            url: '/api/resolved-course/'+resolution_id,
            type: 'DELETE',
            success: function() { location.reload(); },
            error: function(jqXHR, textStatus, errorThrown) { console.log(jqXHR); console.log(textStatus); console.log(errorThrown); }
        });
    }

    function resolve_course_teacher(choosing_id, course_id, teacher_id, resolution)
    {
        $.ajax({
            url: '/api/resolved-combination/',
            type: 'POST',
            data: 'choosing='+choosing_id+"&course="+course_id+"&teacher="+teacher_id+"&accepted="+resolution,
            success: function() { location.reload(); },
            error: function(jqXHR, textStatus, errorThrown) { console.log(jqXHR); console.log(textStatus); console.log(errorThrown); }
        });
    }

    function resolve_course_teacher_revert(resolution_id)
    {
        $.ajax({
            url: '/api/resolved-combination/'+resolution_id,
            type: 'DELETE',
            success: function() { location.reload(); },
            error: function(jqXHR, textStatus, errorThrown) { console.log(jqXHR); console.log(textStatus); console.log(errorThrown); }
        });
    }

    </script>

{% endblock %}
